<!DOCTYPE html>
<html lang="en">
<head>
<!-- head -->
{{> head }}

<!-- Yeah i know js should not be in header. Its required for demos.-->

<!-- javascript -->
{{> javascripts }}

	
</head>
<body>
<!-- header -->
{{> header }}

<!-- title -->
{{> title }}

<!--  Demos -->
<section id="demos">
	<div class="row">
		<div class="large-12 columns">
			{{> body }}
		</div>
	</div>
</section>

<!-- footer -->
{{> footer }}

	<!-- vendors -->
{{> vendors }}

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/6740a48f4304e3196ae7279f/1ida85n2b';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</body>
</html>